<!DOCTYPE html>
<html>
 <head>
  <title>Login - Tesla Dashboard</title>
  <link rel="stylesheet" href="/static/css/main.css">
 </head>
 <body>
  <div class="form-box">
   <h2>Login with Tesla Account</h2>
   <form action="/login" method="post">
    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="Login" />
   </form>
  </div>
 </body>
</html>
